* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --red: rgb(238, 32, 45);
    --eerieBlack: rgb(31, 27, 28);
    --white: rgb(255, 255, 255);
    --blackOlive: rgb(60, 60, 60);
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;
}

/* Styling */
h1 {
    font-size: 1.875rem;
    text-align: center;
    color: var(--blackOlive);
    padding: 10px 10px 0;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: normal;
    color: var(--blackOlive);
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--blackOlive);
}

h4 {
    font-weight: bold;
    color: var(--blackOlive);
    font-style: italic;
}

img {
    width: 100%;
    object-fit: cover;
}

main p {
    padding: 0 10px var(--smSpacer);
    color: var(--blackOlive)
}

main {
    padding-top: var(--mdSpacer);
    padding-bottom: var(--smSpacer);
}

.om-klubben p:last-of-type,
.om-jiu-jitsu p:last-of-type {
    padding: 0 10px 5px;
}

.hold p:last-of-type {
    padding: 0 10px var(--smSpacer);
}

.budo-intro p:last-of-type,
.budo-regler p:last-of-type {
    padding: 0 10px 10px;
}

.hold .img-wrap {
    margin-top: 0px;
}

main a {
    display: inline-block;
    text-decoration: none;
    color: var(--red);
    font-weight: bold;
}

.main-a {
    padding: 10px;
}

.img-wrap {
    margin: 5px 10px var(--mdSpacer);
    position: relative;
}

.img-wrap::after {
    content: "© Hjørring Jiu-Jitsu Klub";
    position: absolute;
    bottom: 0px;
    left: 5px;
    font-size: 10px;
    color: var(--white);
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

.img-wrap.inverted::after {
    color: var(--eerieBlack);
}

img.side,
img.bund,
img.budo {
    height: 310px;
    object-position: 0 56%;
}

/* Accordion */

.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px var(--smSpacer);
}

.accordion details {
    background: var(--red);
    color: var(--white);
}

.accordion summary {
    min-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--smSpacer);
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
}

.accordion summary::after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    user-select: none;
}

details[open] summary::after {
    transform: translateY(-50%) rotate(45deg);
}

.text {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--white);
    border-right: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
    border-left: 2px solid var(--red);
}

.acc-dag {
    color: var(--blackOlive);
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.acc-dag p {
    padding: 0;
}

.acc-pad {
    padding-bottom: 10px;
}

.acc-a {
    color: var(--red);
    padding-top: 10px;
}

.arrow {
    color: var(--red);
}

.fa-file-pdf {
    color: var(--blackOlive);
}

.kontekst h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}

.kontekst {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    padding: 0 10px;
}

.news,
.arrangement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kort {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid var(--blackOlive);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: var(--smSpacer);
}

.kort p {
    width: 265px;
    padding: 0;

}

.kort h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--blackOlive);
}

.kort button {
    width: 220px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    margin: auto auto var(--smSpacer);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.text-wrap h2 {
    text-align: center;
    padding: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.kursus1 .text-wrap h3 {
    text-align: center;
    padding: 0;
}

.kursus1 .text-wrap {
    margin: var(--smSpacer);
}

.budo-regler h3 {
    padding: 0 10px 10px;
}

.traener {
    padding: 0 10px var(--smSpacer);
}

.traener p {
    padding: 0;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    position: relative;
    scroll-snap-align: center;
}

.slide img {
    height: 100%;
}

.pile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    background: rgba(31, 27, 28, 0.5);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pile.prev {
    left: 2%;
}

.pile.next {
    right: 2%;
}

.dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dots a {
    width: 14px;
    height: 14px;
    background: var(--white);
    border-radius: 50%;
    position: relative;
}

.dots a::after {
    content: "";
    width: 8px;
    height: 8px;
    background: var(--red);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.slideshow:has(#slide1:target) .dots a[href="#slide1"]::after,
.slideshow:has(#slide2:target) .dots a[href="#slide2"]::after,
.slideshow:has(#slide3:target) .dots a[href="#slide3"]::after {
    opacity: 1;
}

.slideshow:not(:has(:target)) .dots a[href="#slide1"]::after {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .img-wrap {
        max-width: 700px;
        margin: auto;
        padding: 0 10px;
    }

    .om-klubben,
    .om-jiu-jitsu,
    .budo-intro,
    .hold,
    .budo-regler,
    .traening {
        margin-bottom: var(--mdSpacer);
    }

    img.side,
    img.bund,
    img.budo {
        height: 510px;
        object-position: 0 63%;
        margin: auto;
    }


    .accordion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        max-width: 700px;
        margin: auto;
    }

    summary {
        width: 335px;
    }

    .om-klubben .text-wrap,
    .om-jiu-jitsu .text-wrap,
    .budo-intro .text-wrap,
    .budo-regler .text-wrap,
    .hold .text-wrap,
    .traening .text-wrap {
        max-width: 700px;
        margin: auto;
    }

    .kursus1 .text-wrap {
        max-width: 700px;
        margin: var(--smSpacer) auto;
    }

    .kontekst {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;
        gap: 10px;
        margin: auto;
    }

    .news h2,
    .arrangement h2 {
        padding-left: 0;
    }

    .img-wrap::after,
    .img-wrap.inverted::after {
        left: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .kontekst {
        max-width: 1232px;
    }

    .accordion {
        max-width: 100%;
    }

    summary {
        width: auto;
    }

    nav a,
    nav ul,
    .foot,
    main,
    header {
        max-width: 1232px;
        margin: 0 auto;
    }

    .img-wrap {
        max-width: 1232px;
        margin: 10px;
    }

    .om-klubben,
    .om-jiu-jitsu,
    .budo-intro,
    .budo-regler,
    .hold {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .traening {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--smSpacer);
    }

    .traening {
        align-items: start;
    }

    .om-klubben,
    .budo-intro,
    .hold {
        margin-bottom: var(--mdSpacer);
    }

    .om-klubben .text-wrap,
    .om-jiu-jitsu .text-wrap,
    .budo-intro .text-wrap,
    .budo-regler .text-wrap,
    .hold .text-wrap,
    .traening .text-wrap {
        display: flex;
        flex-direction: column;
        gap: var(--smSpacer);
    }

    .om-klubben .text-wrap,
    .budo-intro .text-wrap,
    .budo-regler .respekt,
    .hold .text-wrap,
    .traening .first {
        padding-left: 10px;
    }

    .om-jiu-jitsu .text-wrap,
    .budo-regler .dojo,
    .budo-regler .usikker,
    .traening .second {
        grid-column: 2;
        padding-right: 10px;
    }

    .hold {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .om-jiu-jitsu .img-wrap {
        grid-column: 1;
        grid-row: 1;
        margin: 0 0 0 10px;
        flex: 1;
    }

    .budo-regler .img-wrap {
        grid-column: 1;
        grid-row: 2;
        margin: 0 0 0 10px;
        flex: 1;
    }

    .om-jiu-jitsu .img-wrap img {
        object-position: 0 45%;
    }

    .om-klubben .img-wrap,
    .budo-intro .img-wrap,
    .hold .img-wrap {
        margin: 0 10px 0 0;
    }

    .om-klubben .text-wrap p,
    .om-klubben .text-wrap a,
    .om-klubben .text-wrap p:last-of-type,
    .om-jiu-jitsu .text-wrap p,
    .om-jiu-jitsu .text-wrap a,
    .om-jiu-jitsu .text-wrap p:last-of-type,
    .budo-intro .text-wrap p,
    .budo-intro .text-wrap p:last-of-type,
    .budo-regler .text-wrap p,
    .budo-regler .text-wrap p:last-of-type,
    .budo-regler .text-wrap h3,
    .hold .text-wrap p,
    .traener,
    .traening .text-wrap p,
    .traening .text-wrap p:last-of-type {
        padding: 0;
    }

    .img-wrap {
        position: relative;
        padding: 0;
    }

    .img-wrap img {
        position: absolute;
        height: 100%;
    }

    img.side,
    img.bund,
    img.budo {
        padding: 0;
    }

    .img-wrap::after,
    .img-wrap.inverted::after {
        left: 5px;
    }

    .slideshow {
        width: 100%;
        height: 400px;
    }

    .traening .img-wrap {
        margin: 0 10px;
    }

    .traening .text-wrap {
        max-width: 1232px;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: var(--smSpacer);
    }

    .traening .first,
    .traening .second {
        display: flex;
        flex-direction: column;
        gap: var(--smSpacer);
    }
}