* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --red: rgb(238, 32, 45);
    --eerieBlack: rgb(31, 27, 28);
    --white: rgb(255, 255, 255);
    --blackOlive: rgb(60, 60, 60);
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;
}

/* Styling */
h1 {
    font-size: 1.875rem;
    text-align: center;
    color: var(--blackOlive);
    padding: 10px 10px;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    color: var(--blackOlive);
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

header img {
    max-height: 510px;
}

.budo-img {
    object-position: 0 0;
}

main p {
    padding: 0 10px var(--smSpacer);
    color: var(--blackOlive)
}

.om-klubben p:last-of-type,
.om-jiu-jitsu p:last-of-type {
    padding: 0 10px 5px;
}


main a {
    display: inline-block;
    text-decoration: none;
    color: var(--red);
    font-weight: 700;
}

.main-a {
    padding: 10px;
}

.img-wrap {
    padding: 5px 10px var(--mdSpacer);
}

.img-wrap:last-of-type {
    padding-bottom: var(--smSpacer);
}

img.side {
    height: 310px;
    object-position: 0 56%;
}

img.bund {
    height: 310px;
    object-position: 0 56%;
}

/* Accordion */

.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.accordion details {
    background: var(--red);
    color: var(--white);
}

.accordion summary {
    min-height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--smSpacer);
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
}

.accordion summary::after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    user-select: none;
}

details[open] summary::after {
    transform: translateY(-50%) rotate(45deg);
}

.text {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--white);
    border-right: 2px solid var(--red);
    border-bottom: 2px solid var(--red);
    border-left: 2px solid var(--red);
}

.acc-dag {
    color: var(--blackOlive);
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.acc-dag p {
    padding: 0;
}

.acc-pad {
    padding-bottom: 10px;
}

.acc-a {
    color: var(--red);
    padding: 10px 0 0;
}

.acc-dag a i {
    color: var(--blackOlive);
}

.bold {
    font-weight: bold;
    padding: 0;
}

.kontekst h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}

.kontekst {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    padding: var(--smSpacer) 10px;
}

.news,
.arrangement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kort {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid var(--blackOlive);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.kort p {
    width: 265px;
    padding: 0;

}

.kort h3 {
    text-align: center;
    padding-top: var(--smSpacer);
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--blackOlive);
}

.kort button {
    width: 220px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    margin: auto auto var(--smSpacer);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    img.side,
    img.bund {
        height: 510px;
        object-position: 0 63%;
        max-width: 700px;
        padding: 0 10px;
        margin: auto;
    }

    .accordion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        max-width: 700px;
        margin: auto;
    }

    summary {
        width: 335px;
    }

    .om-klubben .text-wrap,
    .om-jiu-jitsu .text-wrap {
        max-width: 700px;
        margin: auto;
    }

    .kontekst {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 700px;
        gap: 10px;
        margin: auto;
    }

    .news h2,
    .arrangement h2 {
        padding-left: 0;
    }
}

@media screen and (min-width: 1024px) {


    .kontekst {
        max-width: 1440px;
    }

    .accordion {
        max-width: 100%;
    }

    summary {
        width: auto;
    }

    nav a,
    nav ul,
    .foot,
    main,
    header {
        max-width: 1440px;
        margin: 0 auto;
    }

    .om-klubben,
    .om-jiu-jitsu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .om-klubben {
        margin-bottom: var(--mdSpacer);
    }

    .om-jiu-jitsu {
        margin-bottom: var(--smSpacer);
    }

    .om-klubben .text-wrap,
    .om-jiu-jitsu .text-wrap {
        display: flex;
        flex-direction: column;
        gap: var(--smSpacer);
    }

    .om-klubben .text-wrap {
        padding-left: 10px;
    }

    .om-jiu-jitsu .text-wrap {
        grid-column: 2;
        padding-right: 10px;
    }

    .om-jiu-jitsu .img-wrap {
        grid-column: 1;
        grid-row: 1;
        margin: 0 0 0 10px;
        flex: 1;
    }

    .om-jiu-jitsu .img-wrap img {
        object-position: 0 45%;
    }

    .om-klubben .img-wrap {
        margin: 0 10px 0 0;
    }

    .om-klubben .text-wrap p,
    .om-klubben .text-wrap a,
    .om-klubben .text-wrap p:last-of-type,
    .om-jiu-jitsu .text-wrap p,
    .om-jiu-jitsu .text-wrap a,
    .om-jiu-jitsu .text-wrap p:last-of-type {
        padding: 0;
    }

    .img-wrap {
        position: relative;
        padding: 0;
    }

    .img-wrap img {
        position: absolute;
        inset: 0;
        height: 100%;
    }

    img.side,
    img.bund {
        padding: 0;
    }
}