* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

body {
    margin: 0;
    font-size: 16px;
}

/* Om jiu-jitsu */
.om_jj_header {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.om_jj_header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.om_jj_indhold .img-wrap {
    height: 100%;
    margin-bottom: var(--mdSpacer);
}

.om_jj_indhold .img-wrap img {
    height: 310px;
    object-fit: cover;
    overflow: hidden;
}

.img-wrap .om_jj_indhold {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
}

.om_jj_tekst {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    margin-bottom: var(--smSpacer);
}


/* Jiu-jitsu historie */
.jj_historie_header {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.jj_historie_header img {
    max-height: 100%;
    width: auto;
    height: auto;
}

.jj_historie_tekst1,
.jj_historie_tekst2,
.jj_historie_tekst3,
.jj_historie_tekst4 {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    margin-bottom: var(--smSpacer);
}

.historie {
    margin-bottom: var(--mdSpacer);
}

/* Tosenryu */
.tosenryu_header {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.tosenryu_header img {
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
}

.tosenryu_indhold {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    margin-bottom: var(--mdSpacer);
}

/* media queries */

@media (min-width:750px) {

    .tosenryu_indhold {

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tosenryu_tekst1 {
        grid-column: 1;
    }

    .tosenryu_logo {
        grid-column: 2;
    }

    .venskabsklubber {
        grid-column: 1;
    }

    .instruktører {
        grid-column: 2;
    }

    .om_jj_indhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--smSpacer);
        margin-bottom: var(--mdSpacer);
    }

    .om_jj_tekst {
        grid-column: 1;
        margin-bottom: 0;
    }

    .om_jj_indhold .img-wrap img {
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .om_jj_indhold .img-wrap {
        height: 100%;
        margin-bottom: 0;
    }


    .historie {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--smSpacer);
    }

    .jj_historie_tekst1 {
        grid-column: 1;
        grid-row: 1;
    }

    .samurai {
        grid-column: 2;
        grid-row: 1;
    }

    .jj_historie_tekst2 {
        grid-column: 2;
        grid-row: 2;
    }

    .jj_grafik {
        grid-column: 1;
        grid-row: 2;
    }

    .jj_historie_tekst3 {
        grid-column: 1;
        grid-row: 3;
    }

    .jj_grafik_cirkel {
        grid-column: 2;
        grid-row: 3;
    }

    .jj_historie_tekst4 {
        grid-column: 2;
        grid-row: 4;
    }

    .jj_historie_img4 {
        grid-column: 1;
        grid-row: 4;
    }

    .img-wrap {
        margin: 0;
    }

    .img-wrap::after {
        top: 0px;
        bottom: auto;
    }

    .om_jj_img::after {
        top: auto;
        bottom: 0px;
    }

}

@media (min-width:1024px) {

    .tosenryu_indhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tosenryu_tekst1 {
        grid-column: 1;
    }

    .tosenryu_logo {
        grid-column: 2;
    }

    .t_accordions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .venskabsklubber {
        grid-column: 1;
    }

    .instruktører {
        grid-column: 2;
    }

    .om_jj_indhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--smSpacer);
        align-items: stretch;
    }

    .om_jj_tekst {
        grid-column: 1;
    }

    .om_jj_img {
        grid-column: 2;
    }

    .historie .img-wrap {
        margin: 0;
    }

    .img-wrap::after {
        top: auto;
        bottom: 0px;
    }

    .jj_historie_tekst1,
    .jj_historie_tekst2,
    .jj_historie_tekst3,
    .jj_historie_tekst4 {
        margin-bottom: 0;
    }

}