* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-inline-size: 100%;
}

body {
    margin: 0;
    font-size: 17px;
}

main {
    margin: var(--smSpacer);

    span {
        font-weight: bold;

        img {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
}

/* Om jiu-jitsu */
.om_jj_header {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.om_jj_header img {
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


p {
    margin-bottom: 1rem;
}

.om_jj_img img {
    max-height: 250px;
    width: 375px;
    object-fit: cover;
    overflow: hidden;
}

/* Accordions */

.kontekst {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    padding: var(--smSpacer) 10px;
}

.news,
.arrangement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kort {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid var(--blackOlive);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.kort p {
    width: 265px;
}

.kort h3 {
    text-align: center;
    padding-top: var(--smSpacer);
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--blackOlive);
}

.kort button {
    width: 220px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    margin: auto auto var(--smSpacer);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

/* Jiu-jitsu historie */
.jj_historie_header {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.jj_historie_header img {
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
}

/* Tosenryu */
.tosenryu_header {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.tosenryu_header img {
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
}

/* media queries */

@media (min-width:750px) {

    .tosenryu_indhold {

        display: grid;
        grid-template-columns: 1fr, 1fr;
        gap: 10px;

    }

    .tosenryu_tekst1 {
        grid-column: 1;
    }

    .tosenryu_logo {
        grid-column: 2;
    }

    .kontekst {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        gap: 10px;
    }

    .venskabsklubber {
        grid-column: 1;
    }

    .instruktører {
        grid-column: 2;
    }
}

@media (min-width:1024px) {

    .tosenryu_indhold {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        gap: 1rem;

    }

    .tosenryu_tekst1 {
        grid-column: 1;
    }

    .tosenryu_logo {
        grid-column: 2;
    }

    .t_accordions {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        gap: 1rem;
    }

    .venskabsklubber {
        grid-column: 1;
    }

    .instruktører {
        grid-column: 2;
    }
}

/* mobile first= min width */