/* Variables */
:root {
    --red: rgb(238, 32, 45);
    --eerieBlack: rgb(31, 27, 28);
    --white: rgb(255, 255, 255);
    --blackOlive: rgb(60, 60, 60);
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;
}

/* Typography */

h1 {
    justify-self: center;
    padding: var(--mdSpacer);
    font-size: 50px;
}

p,
li {
    font-size: 24px;
}

ul li {
    list-style-type: none;
}

span {
    font-weight: bold;
}

main {
    padding: 0px var(--xlSpacer);
    justify-content: center;
    overflow-x: hidden;

}

/* Udstyr */

.hero img {
    width: 100%;
    object-fit: cover;
    height: 50vh;
}


.usection1 {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--xlSpacer);
}

.usection1 img {
    max-width: 50%;
    margin-top: -55px;
}

.usection article {
    max-width: 500px;

}


.usection2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: var(--mdSpacer);
    margin-bottom: var(--mdSpacer);
    gap: 1rem;
}

.usection2 h2 {
    text-align: center;
    font-size: 35px;
}

.usection2 article {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    border: 1px solid black;
    padding: var(--smSpacer);
    border-radius: 10px;
    width: 650px !important;

}

.usection2 article p {
    margin-top: var(--smSpacer);
    max-width: 500px;
    text-align: center;
    margin-bottom: var(--mdSpacer);
}

.usection2 article a {
    text-decoration: none;
    background-color: var(--red);
    color: white;
    font-weight: bold;
    margin-top: var(--smSpacer);
    padding: 5px var(--smSpacer);
    text-align: center;
    max-width: 200px;
    margin-top: auto;
}

/* Instruktøre */

.in {
    display: flex;
    margin-top: var(--mdSpacer);
}

.in img {
    border-radius: 50%;
    width: 100%;
    border: 1px solid var(--eerieBlack) ;
}

.in figcaption {
    display: flex;
    justify-self: center;
    margin-top: var(--smSpacer);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/* Kontakt */
form {
    border: 1px solid var(--eerieBlack);
    display: flex;
    flex-direction: column;
    padding: 0 var(--smSpacer) var(--smSpacer);
    margin-bottom: var(--smSpacer);
    gap: 5px;
}

label {
    font-weight: bold;
    color: var(--blackOlive);
    margin: 10px 0 0;
}

textarea {
    min-height: 150px;
    padding: 10px;
    border: 1px solid var(--eerieBlack) !important;
}

input[type="text"] {
    display: block;
    min-height: 20px;
    color: var(--blackOlive);
    padding: 10px;
    border: 1px solid var(--eerieBlack) !important;
}

input[type="submit"] {
    display: block;
    padding: 10px var(--xlSpacer);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    margin: var(--smSpacer) auto 0;
    border: 1px solid var(--eerieBlack);
    border-radius: 5px;
    cursor: pointer;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--smSpacer);
}

.form-row>div>input[type="text"] {
    width: 100%;
}

.form-row>div {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width:768px) {

    h1{
        font-size: 30px;
    }

    /* Udstyr */

    .usection1 {
        display: flex;
        flex-direction: column;

    }
    

    .usection1 img {
        margin: 0;
        align-self: center;
        max-width: 80%;
    }

    .usection2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--smSpacer);
    }

    .usection2 h2{
        font-size: 25px;
    }

    .usection2 article {
        max-width: 100%;

    }

    /* Intruktøre */

    .in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }


main{
    padding: 10px;
    overflow-x: hidden;
}

.in img{
    max-width: 50%;
    justify-self: center;
}
}




