/* Variables */
:root {
    --red: rgb(238, 32, 45);
    --eerieBlack: rgb(31, 27, 28);
    --white: rgb(255, 255, 255);
    --blackOlive: rgb(60, 60, 60);
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;
}

/* Typography */
main {
    justify-content: center;
    overflow-x: hidden;
}

footer .foot h2 {
    text-align: left;
}

/* Udstyr */

.usection1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--smSpacer);
    margin-bottom: var(--mdSpacer);
}

.udstyr {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
}

.udstyr ul {
    list-style: none;
}

.usection1 .img-wrap {
    margin: 0;
}

.img-wrap img {
    width: 100%;
    object-fit: contain;
    object-position: left center;
}

.img-wrap::after {
    top: 0px;
    bottom: auto;
}

/* Instruktøre */

.in {
    display: flex;
    margin-bottom: var(--mdSpacer);
}

.in img {
    border-radius: 50%;
    width: 100%;
    border: 1px solid var(--eerieBlack);
}

.in figcaption {
    display: flex;
    justify-self: center;
    margin-top: var(--smSpacer);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/* Kontakt */
form {
    border: 1px solid var(--eerieBlack);
    display: flex;
    flex-direction: column;
    padding: var(--smSpacer);
    gap: var(--smSpacer);
}

label {
    font-weight: bold;
    color: var(--blackOlive);
}

textarea {
    min-height: 150px;
    padding: 10px;
    border: 1px solid var(--eerieBlack) !important;
}

input[type="text"] {
    display: block;
    min-height: 20px;
    color: var(--blackOlive);
    padding: 10px;
    border: 1px solid var(--eerieBlack) !important;
}

input[type="submit"] {
    display: block;
    padding: 10px var(--xlSpacer);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    margin: var(--smSpacer) auto 0;
    border: 1px solid var(--eerieBlack);
    border-radius: 5px;
    cursor: pointer;
}

form {
    background-color: var(--white);
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--smSpacer);
}

.norm-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.norm-row>input {
    width: 100%;
}

.form-row>div>input[type="text"] {
    width: 100%;
}

.form-row>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.kontekst h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}

.kontekst {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    width: 100%;
}

.news,
.arrangement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kort {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid var(--blackOlive);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: var(--smSpacer);
}

.kort p {
    width: 265px;
    padding: 0;

}

.kort h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--blackOlive);
}

.kort a {
    width: 220px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    margin: auto auto var(--smSpacer);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

@media (max-width:768px) {

    h1 {
        font-size: 30px;
    }

    /* Udstyr */
    .usection1 {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .usection1 .img-wrap {
        margin-bottom: var(--mdSpacer);
    }

    .img-wrap::after {
        bottom: 0px;
        top: auto;
    }

    /* Intruktøre */

    .in {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }


    .in img {
        max-width: 50%;
        justify-self: center;
    }

    .kontekst {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }

    .news h2,
    .arrangement h2 {
        padding-left: 0;
    }

}


@media (max-width:404px) {
    .form-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--smSpacer);
    }

    footer .foot h2 {
        text-align: center;
    }
}