@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --red: rgb(238, 32, 45);
    --eerieBlack: rgb(31, 27, 28);
    --white: rgb(255, 255, 255);
    --blackOlive: rgb(60, 60, 60);
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;
}

/* General */
img {
    display: block;
}

/* Header image */
header img {
    width: 100%;
}

/* Main */
.klubteksten {
    img {
        max-width: 100%;
    }
}

.klubparagraphs {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    margin-bottom: var(--smSpacer);
}

.gammelklub::after {
    top: 0px;
    bottom: auto;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--blackOlive);
}

.klubtekst {
    padding: var(--smSpacer);

    p {
        padding: 15px 0px 0px 0px;
    }

    img {
        max-width: 100%;
        padding-top: var(--smSpacer);
    }
}

.gradueringteksten {
    margin-bottom: var(--mdSpacer);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.gradtextsection,
.gradtextsection2 {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    margin-bottom: var(--smSpacer);
}

.img-wrap.belts {
    margin-bottom: var(--smSpacer);
}

.medlemskabtekst {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
    margin-bottom: var(--mdSpacer);

    img {
        max-width: 100%;
    }
}

.medlemskabtekstsection {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
}

.medlemimg {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    object-position: 0 100%;
}

.medlemimg2 {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    object-position: 0 67%;
}

.medlemimages {
    display: flex;
    flex-direction: column;
    gap: var(--smSpacer);
}

.medlemimages .img-wrap {
    margin: 0;
    min-height: 350px;
}


/* Klub kort til venskabsklubber */
a {
    color: black;
}

.allcards {
    margin-bottom: var(--mdSpacer);
}

.allcards h2 {
    font-size: 16px;
}

.clubcard1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--smSpacer);
    height: 130px;
    max-width: 80%;
    background-color: rgb(224, 224, 224);
    padding: var(--smSpacer);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--blackOlive);
    display: flex;
    align-items: center;

    img {
        max-width: 100px;
        border-radius: 50%;
    }

    h2 {
        padding: var(--smSpacer) 0px var(--smSpacer) var(--smSpacer);
    }
}

.clubcard2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--smSpacer);
    height: 130px;
    max-width: 80%;
    background-color: rgb(224, 224, 224);
    padding: var(--smSpacer);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--blackOlive);
    display: flex;
    align-items: center;

    img {
        max-width: 100px;
        border-radius: 50%;
    }

    h2 {
        padding: var(--smSpacer) 0px var(--smSpacer) var(--smSpacer);
    }
}

.clubcard3 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--smSpacer);
    height: 130px;
    max-width: 80%;
    background-color: rgb(224, 224, 224);
    padding: var(--smSpacer);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--blackOlive);
    display: flex;
    align-items: center;

    img {
        max-width: 100px;
    }

    h2 {
        padding: var(--smSpacer) 0px var(--smSpacer) var(--smSpacer);
    }
}

.clubcard4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--smSpacer);
    height: 130px;
    max-width: 80%;
    background-color: rgb(224, 224, 224);
    padding: var(--smSpacer);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--blackOlive);
    display: flex;
    align-items: center;
    overflow: hidden;

    img {
        max-width: 100px;
        border-radius: 50%;
    }

    h2 {
        padding: var(--smSpacer) 0px var(--smSpacer) var(--smSpacer);
    }
}

.klubtekst {

    .relatedarticles {
        padding-top: var(--smSpacer);
    }
}

@media screen and (min-width:768px) {

    .allcards h2 {
        font-size: 20px;
    }

    .relatedarticles {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    /* Grid til venskabsklubber */

    .allcards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        margin: 0 auto var(--mdSpacer);
    }

    .headerimg {
        height: 450px;
    }

    .klubteksten {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: start;
        max-width: 1232px;
        margin: 0 auto var(--mdSpacer);
    }

    .gammelklub {
        max-width: 600px;
        height: auto;
        grid-column: 2;
        grid-row: 1;
    }

    .klubparagraphs {
        grid-column: 1;
        margin: 0;
    }

    .medlemskabtekst {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;
        max-width: 1232px;
        margin: 0 auto var(--mdSpacer);
    }

    .medlemimages {
        max-width: 600px;
        height: auto;
        grid-column: 2;
        grid-row: 1;
    }

    .medlemskabtekstsection {
        grid-column: 1;
    }

    .gradueringteksten {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: var(--smSpacer);
        max-width: 1232px;
        margin-bottom: var(--mdSpacer);
    }

    .gradueringteksten .img-wrap,
    .klubteksten .img-wrap {
        margin: 0;
    }

    .belts img {
        object-position: -120px;

    }

    .gradtextsection {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }

    .gradtextsection2 {
        grid-column: 2;
        grid-row: 2;
        margin: 0;
    }

    .belts {
        grid-column: 2;
        grid-row: 1;

    }

    .sommerlejr2 {
        grid-column: 1;
        grid-row: 2;
    }
}

@media screen and (min-width:840px) {

    .belts img {
        object-position: -50px;

    }
}

@media screen and (min-width:965px) {
    .belts img {
        object-position: bottom;
    }

    .img-wrap {
        max-width: 1232px;
        width: 100%;
        min-height: 100%;
        position: relative;
        padding: 0;
    }

}

@media screen and (min-width: 1024px) {
    .img-wrap.gammelklub img {
        height: auto;
    }
}