@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 150%;

}

p {
    font-size: 16px;
}

/* Variables */
:root {
    --red: rgb(238, 32, 45);
    --eerieBlack: rgb(31, 27, 28);
    --white: rgb(255, 255, 255);
    --blackOlive: rgb(60, 60, 60);
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;
}

/* General */
img {
    display: block;
}

/* Header image */

.wamaheader {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
}

/* Main */

h1 {
    text-align: center;
    padding: var(--smSpacer);
}

.klubtekst {
    padding: var(--smSpacer);

    p {
        padding: 15px 0px 0px 0px;
    }

    img {
        max-width: 100%;
        padding-top: var(--smSpacer);
    }
}

.gradueringtekst {
    padding: 0px 25px 25px 25px;

    p {
        padding: 15px 0px 0px 0px;
    }


    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        display: block;
        object-position: 0 100%;
        padding-top: var(--smSpacer);
        padding-bottom: var(--smSpacer);
    }

    .sommerlejr2 {
        object-position: center;
        padding-top: var(--smSpacer);
        padding-bottom: var(--smSpacer);
    }
}

.toptext {
    padding-top: 0px;
}

.medlemskabtekst {
    padding: 0px 15px 15px 15px;

    p {
        padding: 15px 0px 0px 0px;
    }

    img {
        max-width: 100%;
        padding-top: var(--smSpacer);
    }
}

.fwb {
    font-weight: bold;
}

.medlemimg {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    object-position: 0 100%;
    padding-top: var(--smSpacer);
    padding-bottom: var(--smSpacer);
}

.medlemskabheader {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    display: block;
    object-position: 0 100%;
    padding-bottom: var(--smSpacer);
}

/* Klub kort */
a {
    text-decoration: none;
    color: black;
}

.clubcard1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--smSpacer);
    height: 130px;
    max-width: 80%;
    background-color: rgb(224, 224, 224);
    padding: var(--smSpacer);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--blackOlive);
    display: flex;
    align-items: center;

    img {
        max-width: 100px;
        border-radius: 50%;
    }

    h2 {
        padding: 25px 0px 25px 25px;
    }
}

.clubcard3 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--smSpacer);
    height: 130px;
    max-width: 80%;
    background-color: rgb(224, 224, 224);
    padding: var(--smSpacer);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--blackOlive);
    display: flex;
    align-items: center;

    img {
        max-width: 100px;
    }

    h2 {
        padding: 25px 0px 25px 25px;
    }
}

.clubcard4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--smSpacer);
    height: 130px;
    max-width: 80%;
    background-color: rgb(224, 224, 224);
    padding: var(--smSpacer);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--blackOlive);
    display: flex;
    align-items: center;
    overflow: hidden;

    img {
        max-width: 100px;
        border-radius: 50%;
    }

    h2 {
        padding: 25px 0px 25px 25px;
    }
}