/* Typografi */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --red: rgb(238, 32, 45);
    --eerieBlack: rgb(31, 27, 28);
    --white: rgb(255, 255, 255);
    --blackOlive: rgb(60, 60, 60);
    --smSpacer: 25px;
    --mdSpacer: 50px;
    --xlSpacer: 75px;
}

/* General */
img {
    display: block;
}

input {
    display: none;
}

/* Navigation til Telefon */
.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--smSpacer);
    background: var(--eerieBlack);
    height: 100px;
}

.navi img {
    max-height: 75px;
}

/* Icons i Navigation */
.burger {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: var(--white);
    transition: opacity 0.2s ease;
}

.icon-menu {
    opacity: 1;
}

.icon-x {
    opacity: 0;
}

#toggle:checked+nav .icon-menu {
    opacity: 0;
}

#toggle:checked+nav .icon-x {
    opacity: 1;
}

/* Burger Menu */
.burger-menu {
    position: fixed;
    top: 100px;
    height: calc(100vh - 100px);
    transform: translateX(100%);
    width: 100%;
    background-color: var(--eerieBlack);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: transform 0.3s ease;
}

.burger-menu a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

#toggle:checked~.burger-menu {
    transform: translateX(0);
}

.side-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-menu>li {
    border-bottom: 1px solid var(--red);
}

.li-pad {
    padding: 10px;
}

.menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.toggle-knap {
    padding: 10px;
    font-size: 1.5rem;
    user-select: none;
    padding: 0 10px;
}

/* Drop-down Menu i Burger Menu  */
.drop-menu {
    list-style: none;
    background: var(--red);
    max-height: 0;
    overflow: hidden;
    font-weight: 400;
    transition: max-height 0.3s ease;
}

.drop-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    border-top: 1px solid rgba(31, 27, 28, 0.1);
    font-size: 1.25rem;
}

.dropdown input:checked~.drop-menu {
    max-height: 500px;
}

/* Drop-down Menu Animation */
.toggle-knap::after {
    content: "+";
    color: var(--white);
    font-size: 2rem;
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.dropdown>input:checked~.menu-row .toggle-knap::after {
    transform: rotate(45deg);
}

/* Footer til Telefon */
footer {
    background: var(--eerieBlack);

}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: var(--smSpacer);
    color: var(--white);
}

.foot a {
    text-decoration: none;
    color: var(--white);
}

.foot img {
    max-height: 100px;
}

.foot h3 {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
}


.tider {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dag {
    display: flex;
    justify-content: space-between;
    gap: var(--smSpacer);
}

.some {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.some i {
    font-size: 3rem;
}

/* Copyright i Footer */
.copyright {
    background: var(--red);
    text-align: center;
    color: var(--white);
}

/* Fjern Nav & Copyright til Desktop */
.copyright-desk {
    display: none;
}


.nav-desktop {
    display: none;
}

/* Utility */
.active {
    border-bottom: 2px solid var(--red);
}

@media screen and (min-width:768px) {
    .copyright-desk {
        display: block;
    }

    .copyright-telefon {
        display: none;
    }

    /* Footer til Desktop */
    .foot {
        display: grid;
        grid-template-areas:
            "info img some";
        align-items: center;
        justify-content: space-evenly;
    }

    .foot a {
        grid-area: img;
    }

    .foot img {
        max-height: 125px;
    }

    .foot h3 {
        text-align: left;
    }

    .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tider {
        max-width: 220px;
    }

    .some {
        grid-area: some;
        width: 220px;
        justify-content: center;
    }

}

@media screen and (min-width: 1024px) {

    /* Navigation til Desktop*/
    .navi {
        display: flex;
        height: 125px;
    }

    .navi img {
        max-height: 90px;
    }

    .nav-menu {
        list-style: none;
        display: flex;
        gap: 10px;
    }

    .nav-menu>li {
        position: relative;
    }

    .nav-menu>li>a {
        color: var(--white);
        text-decoration: none;
        font-weight: 600;
        padding: 10px;
        font-size: 1.125rem;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 235px;
        background-color: var(--eerieBlack);
        list-style: none;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    .dropdown-menu li a {
        display: block;
        padding: 10px;
        color: var(--white);
        text-decoration: none;
        font-weight: 400;
    }

    .dropdown-menu li a:hover {
        background: var(--red);
    }

    .dropdown-desk:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .dropdown-desk:hover>a,
    .nav-menu>li>a:hover {
        color: var(--red);
    }

    .nav-telefon {
        display: none;
    }
}